.brinks {
    display:flex;
    z-index:1;
    position: relative;
    justify-content:center;
    font-weight: bold;
    background-image: linear-gradient( to left, orangered, orange, gold, lightgreen, cyan, dodgerblue, mediumpurple, hotpink, orangered);
    background-size: 110vw;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-animation: rainbowan 60s linear infinite;
}
@-webkit-keyframes rainbowan {
    to {
        background-position: -2000vw;
    }
}
@keyframes rainbowan {
    to {
        background-position: -2000vw;
    }
}